<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capstone Santa's Wishlist app</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Custom.css" rel="stylesheet" />

</head>
<body class="christmas">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=@Url.Action("Index", "Home") class="navbar-brand" style="padding:0px">
                    <img src="~/Content/images/logo-ellipse.jpg" style="margin-top: 5px"/>
                </a>
            </div>
            @if (User.IsInRole("Admin"))
            {
                @*<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:gold">Administrator Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Role Management", "RoleAddToUser", "Account")</li>
                            <li>@Html.ActionLink("Role Create", "RoleCreate", "Account")</li>
                            <li>@Html.ActionLink("Register Staff", "RegisterStaff", "Account")</li>                            
                        </ul>
                    </li>
                </ul>*@
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                   
                    @if (ViewData.ContainsKey("FamilyId")) {
                        <li>
                            <a href="#" data-toggle="dropdown" role="button" class="dropdown-toggle">
                                <i class="fa fa-users"></i>
                                Family
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Wishlists", "ViewWishlists", "Family", new { id = ViewBag.FamilyId }, null)
                                </li>
                            </ul>
                        </li>
                    }
                    @if (ViewData.ContainsKey("DonorId")) {
                        Html.RenderAction("CountItemsInCart", "Donor", new { id = ViewBag.DonorId });
                        <li>
                            <a href=@Url.Action("History", "Donor", new { id = ViewBag.DonorId })>
                                <i class="fa fa-history"></i>
                                My Donations
                             </a>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="background-color: white; opacity: 0.88">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Capstone Santa's Wishlist app</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {

            if ('@TempData["Message"]' == 'Quote was edited successfully') {
                alert('Quote was edited successfully');
            }
            if ('@TempData["Message"]' == 'Quote was deleted successfully') {
                alert('Quote was deleted successfully');
            }
            if ('@TempData["Message"]' == 'Family and Child added successfully') {
                alert('Quote was added successfully');
            }
            if ('@TempData["Message"]' == 'Error. Object is not valid') {
                alert('Error. Object is not valid');
            }
        });
    </script>
</body>
</html>
