<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capstone Santa's Wishlist app</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Santa's Wishlist", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Register Staff", "RegisterStaff", "Account")</li>
                            //<li><a href="@Url.Action("Register", "Account")">Register Staff</a></li>
                        }
                        
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Capstone Santa's Wishlist app</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {

        if ('@TempData["Message"]' == 'Quote was edited successfully') {
            alert('Quote was edited successfully');
        }
        if ('@TempData["Message"]' == 'Quote was deleted successfully') {
            alert('Quote was deleted successfully');
        }
        if ('@TempData["Message"]' == 'Family and Child added successfully') {
            alert('Quote was added successfully');
        }
        if ('@TempData["Message"]' == 'Error. Object is not valid') {
            alert('Error. Object is not valid');
        }
    });
    </script>
</body>
</html>
