@model IEnumerable<Capstone_Wishlist_app.Models.FamilyIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Family List</h2>
        <ol class="breadcrumb">
            <li>
                <a href=@Url.Action("Index", "Home")>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li class="active">
                <i class="fa fa-users"></i>
                Family List
            </li>
        </ol>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(f => f.Id)</th>
                <th>Family</th>
                <th>@Html.DisplayNameFor(f => f.Phone)</th>
                <th>@Html.DisplayNameFor(f => f.Email)</th>
                <th></th>
            </tr>
            @foreach (var fm in Model) {
                <tr>
                    <td>@Html.DisplayFor(f => fm.Id)</td>
                    <td>
                        <a href=@Url.Action("Administer", new { id = fm.Id })>
                            Family of @fm.ParentFirstName @fm.ParentLastName
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(f => fm.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(f => fm.Email)
                    </td>
                    <td>@fm.ChildCount children with @fm.GiftCount gifts</td>
                </tr>
            }
        </table>
    </div>
</div>

