@using Capstone_Wishlist_app.Services;
@model IEnumerable<Item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th>Small Image</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href=@item.ListingUrl>@item.Title</a><span class="glyphicon glyphicon-link"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            <img src=@item.ImageUrl />
        </td>
    </tr>
}

</table>
