@model Capstone_Wishlist_app.Models.ApproveWishlistViewModel
@using Capstone_Wishlist_app.Models

@{
    ViewBag.FamilyId = @Model.FamilyId;
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Approve @Model.ChildFirstName @Model.ChildLastName's Wishlist</h2>
        <ol class="breadcrumb">
            <li>
                <a href=@Url.Action("Index", "Home")>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li class="active">
                <a href=@Url.Action("ViewWishlists", "Family", new { id = Model.FamilyId })>
                    <i class="fa fa-file-text"></i>
                    Family Wishlists
                </a>
            </li>
            <li class="active">@Model.ChildFirstName's Wishlist</li>
        </ol>
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>@Model.ChildFirstName @Model.ChildLastName</dd>
            <dt>@Html.DisplayNameFor(w => w.WishlistId)</dt>
            <dd>@Model.WishlistId</dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm("Approve", "Wishlist", new { id = Model.WishlistId }, FormMethod.Post, new { @class = "form-horizontal", id = "approvalForm"})) {
    <table class="table">
        <tr>
            <th class="col-xs-1 text-center">Select</th>
            <th class="col-xs-2 text-center">Status</th>
            <th class="col-xs-1 text-center">Image</th>
            <th class="col-xs-5 text-center">Title</th>
            <th class="col-xs-1 text-center">List Price</th>
            <th class="col-xs-2 text-center">Recommended Ages</th>
        </tr>
        @foreach (var wi in @Model.Items.Select((wi, i) => new { Item = wi, Index = i })) {
            @Html.HiddenFor(wl => wl.Items[wi.Index].Id)
            <tr>
                <td class="text-center">
                    @if (wi.Item.Status != WishlistItemStatus.Ordered) {
                        <text>@Html.CheckBoxFor(wl => wl.Items[wi.Index].IsSelected, new { @class = "form-control" })</text>
                    }
                </td>
                @switch (wi.Item.Status) {
                    case WishlistItemStatus.Unapproved:
                        <td class="text-warning text-center">
                            <i class="fa fa-hourglass-start"></i>
                            Unapproved
                        </td>
                        break;
                    case WishlistItemStatus.Available:
                    <td class="text-info text-center">
                        <i class="fa fa-check-circle-o"></i>
                        Available
                    </td>
                        break;
                    case WishlistItemStatus.Ordered:
                    <td class="text-success text-center">
                        <i class="fa fa-gift"></i>
                        Ordered
                    </td>
                        break;
                    default:
                    <td></td>
                        break;
                }
                <td>
                    <img src=@wi.Item.ImageUrl />
                </td>
                <td>
                    <a href=@wi.Item.ListingUrl target="_blank">@wi.Item.Title</a>
                    <i class="fa fa-external-link"></i>
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => wi.Item.ListPrice)
                </td>
                <td class="text-center">@AgeRange.FormatAgeRange(wi.Item.MinAgeMonths, wi.Item.MaxAgeMonths)</td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i>
        Approve selected items
    </button>
    <button type="button" class="btn btn-danger" onclick="submitDisapproval()">
        <i class="fa fa-ban"></i>
        Disapprove selected items
    </button>
}

@section Scripts {
    <script type="text/javascript">
        var disapproveUrl = "@Url.Action("DisapproveItems", new { id = Model.WishlistId })";

        function submitDisapproval() {
            var $approvalForm = $("#approvalForm");
            $approvalForm.attr("action", disapproveUrl);
            $approvalForm.submit();
        }
    </script>
}

