@model IEnumerable<Capstone_Wishlist_app.Models.ManageWishlistViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Wishlist Index</h2>
        <ol class="breadcrumb">
            <li>
                <a href=@Url.Action("Index", "Home")>
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <i class="fa fa-file-text"></i>
                Wishlist Index
            </li>
        </ol>
        <table class="table table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.FamilyId)</th>
                <th>Family</th>
                <th>@Html.DisplayNameFor(model => model.WishlistId)</th>
                <th>@Html.DisplayNameFor(model => model.ChildFirstName)</th>
                <th>@Html.DisplayNameFor(model => model.ItemCount)</th>
                <th class="text-center text-warning">
                    <i class="fa fa-circle-o"></i>
                    @Html.DisplayNameFor(model => model.UnapprovedCount)
                </th>
                <th class="text-center text-info">
                    <i class="fa fa-check-circle-o"></i>
                    @Html.DisplayNameFor(model => model.AvailableCount)
                </th>
                <th class="text-center text-success">
                    <i class="fa fa-gift"></i>
                    @Html.DisplayNameFor(model => model.DonatedCount)
                </th>
            </tr>
            @foreach (var wl in Model) {
                <tr class=@(wl.UnapprovedCount > 0 ? "warning": "")>
                    <td>@Html.DisplayFor(wm => wl.FamilyId)</td>
                    <td>
                        <a href=@Url.Action("Administer", "Family", new{ id = wl.FamilyId })>
                            Family of @wl.ParentFirstName @wl.ParentLastName
                        </a>
                    </td>
                    <td>@Html.DisplayFor(wm => wl.WishlistId)</td>
                    <td>
                        <a href=@Url.Action("Approve", new { id = wl.WishlistId})>
                            @Html.DisplayFor(wm => wl.ChildFirstName)
                        </a>
                    </td>
                    <td class="text-center">@Html.DisplayFor(wm => wl.ItemCount)</td>
                    <td class="text-center">@Html.DisplayFor(wm => wl.UnapprovedCount)</td>
                    <td class="text-center">@Html.DisplayFor(wm => wl.AvailableCount)</td>
                    <td class="text-center">@Html.DisplayFor(wm => wl.DonatedCount)</td>
                </tr>
            }
        </table>
    </div>
</div>


