@using Capstone_Wishlist_app.Services
@using Capstone_Wishlist_app.Models
@model List<Capstone_Wishlist_app.Models.DonorListViewModel>

@{
    ViewBag.Title = "WishlistIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Children's Wishlists</h2>


<table class="table">
    <tr>
        <th>
            Child's Name
        </th>        
        <th>
            Child's Age
        </th>
      
        <th>
        Child's Bio
        </th>        
        <th></th>
    </tr>

@foreach (var child in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => child.FirstName)
        </td>        
        <td>
            @Html.DisplayFor(model => child.Age)
        </td>
        
        <td>
            @Html.DisplayFor(model => child.Biographies)
        </td>
        <td>            
            @*@Html.ActionLink("Details", "Details", new { id=child.Id })*@            
        </td>
    </tr>
    foreach (var item in child.retailItems) { 
    <tr>
        <td></td>
        <td>
            <a target="_blank" href=@item.ListingUrl>@item.Title</a><span class="glyphicon glyphicon-link" />
        </td>
        <td>
            <img src=@item.ImageUrl />
        </td>
        <td>
            @item.ListPrice
        </td>
        <td>
            <button type="button" class="btn btn-default" @*onclick="addItemToWishlist(this, '@item.Id')"*@>
                <span class="glyphicon glyphicon-gift"></span>
                Buy Gift
            </button>
        </td>
    </tr>
    }
}

</table>
