@using Capstone_Wishlist_app.Services
@using Capstone_Wishlist_app.Models
@model List<Capstone_Wishlist_app.Models.DonorListViewModel>

@{
    ViewBag.Title = "WishlistIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Child's Name
        </th>        
        <th>
            Child's Age
        </th>
        <th>
            Child's Gender
        </th>
        <th>
        Child's Bio
        </th>
        <th>
            Whishlist
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.FirstName)
        </td>        
        <td>
            @Html.DisplayFor(model => item.Age)
        </td>
        <td>
            @Html.DisplayFor(model => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(m => item.BiographyText)
        </td>
        <td>            
            @*@Html.ActionLink("Details", "Details", new { id=item.Id })*@            
        </td>
    </tr>
}

</table>
