@using Capstone_Wishlist_app.Services
@using Capstone_Wishlist_app.Models
@model List<Capstone_Wishlist_app.Models.DonorListViewModel>

@{
    ViewBag.Title = "WishlistIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr-hide {display:none}
</style>
<h2>Children's Wishlists</h2>


<table class="table">
    <tr>
        <th>
            Child's Name
        </th>        
        <th>
            Child's Age
        </th>
      
        <th>
        Child's Bio
        </th>        
        <th></th>
    </tr>

@foreach (var child in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => child.FirstName)
        </td>        
        <td>
            @Html.DisplayFor(model => child.Age)
        </td>
        
        <td>
            @Html.DisplayFor(model => child.Biographies)
        </td>
        <td>
            @{ViewBag.buttonID = child.ChildId;}
            <button type="button" value="@ViewBag.buttonID" id="btn-hide" onclick="listToggle(this)">Hide/Show Wishlist</button>
        </td>
    </tr>    
    foreach (var item in child.retailItems)
    {
        <tr class="@ViewBag.buttonID" style="display:none">
            <td></td>
            <td>
                <a target="_blank" href=@item.ListingUrl>@item.Title</a><span class="glyphicon glyphicon-link" />
            </td>
            <td>
                <img src=@item.ImageUrl />
            </td>
            <td>
                @item.ListPrice
            </td>
            <td>
                <button type="button" class="btn btn-default" @*onclick="addItemToWishlist(this, '@item.Id')"*@>
                    <span class="glyphicon glyphicon-gift"></span>
                    Buy Gift
                </button>
            </td>
        </tr>

    }
}

</table>

@section scripts {
    <script type="text/javascript">

        function listToggle(element) {            
                if (window.console) console.log($(element).val());
                $('.' + $(element).val()).toggle();
            };
        
        

    </script>
}